<div class="container">
  <div class="row">
    <div class="col-sm-6 d-flex justify-content-end" [@animacao-baner]="estadoBanner">
      <app-banner></app-banner>
    </div>
    
    <div *ngIf="bolCadastro; else formLogin">
      <div class="col-sm-6 d-flex justify-content-start" [@animacao-login]="estadoLogin" 
        (@animacao-login.start)="inicioAnimacao()"
        (@animacao-login.done)="fimAnimacao()">
        <app-cadastro (exibirLogin)="exibirPainel($event)"></app-cadastro>
      </div>  
    </div>
    
    <ng-template #formLogin>
      <div class="col-sm-6 d-flex justify-content-start" [@animacao-login]="estadoLogin"
      (@animacao-login.start)="inicioAnimacao()"
      (@animacao-login.done)="fimAnimacao()">
        <app-login (exibirPainel)="exibirPainel($event)"></app-login>
      </div>  
      
    </ng-template>
    
  </div>
</div>